
    <li id="post-<%=posts._id%>">
         <small style="color:steelblue;font-size: 1.1rem;;" id="user-name"><%=posts.user.name%></small>
                    <%if(locals.user && locals.user.id==posts.user.id){%>
                    <small>
                        <a class="delete-post"style="color:red;" href="/post/destroy_post/<%=posts.id%>">X</a>
                    </small>
                    <%}%>
                    <br>
                    <span style="color: lightsalmon;"id="post-style">
                    <%=posts.content%>
                    
                </span>
        <%if(locals.user){%>
            <form  action="/comment/create" id="new-comment-form" method="POST">

                <input  style="width:130px;border-radius: 4px;padding:2px;"type="text" name="content" placeholder="comment" required >
                <input type="hidden" name="post" value="<%=posts._id%>" />
                <input style="border-radius: 2px;padding:2px;" type="submit" value="comment">
            </form>

            <%}%>
            <div id="comment">
                <ul>
                    <%for(comments of posts.comment){%>
                        <li id="comment-<%=comments.id%>"style="text-align:left;">
                                <%if(locals.user && locals.user.id==comments.user.id ){%>
                                    <small>
                                <a class="delete-comment" style="color: red;" href="/comment/destroy_comment/<%=comments.id%>">X</a>
                            </small>
                                    <%}%>
                                        <small style="color:steelblue;font-size: .9rem;">
                                <%=comments.user.name%>
                             </small>
                                        <%=comments.content%><br>
            
                            <%}%>
                        </li>
                </ul>
            
            </div>

    </li>
    <script src="/js/home_comment.js"></script>