<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style%>
        <title>
            <%=title%>
        </title>
</head>

<body>
    <%-include("_header");%>

    




        <%- body%>




            <%-include("_footer");%>
                <%-script%>




<script>
<%if(flash.success && flash.success.length>0){%>


    new Noty({
    theme: 'relax',
    text: '<%=flash.success%>',
    type:"success",
    layout:'topRight',
    timeout:1500
}).show();
    
    
    <%}%>
    <%if(flash.error && flash.error.length>0){%>


new Noty({
theme: 'relax',
text: '<%=flash.error%>',
type:"error",
layout:'topRight',
timeout:1500
}).show();


<%}%>
</script>









  
</body>

</html>