<link rel="stylesheet" href="/css/user_profile.css">




<div class="container c1">
<%if(user_profile.id ==  user.id){%>
    <img src="<%=user.avtar%>" alt="<%=user.name%>" width="300px">
    <form action="/users/update/<%=user_profile.id%>" enctype="multipart/form-data" method="POST">
        <input type="text"name="name"value="<%=user_profile.name%>" required>
        <input type="file" name='avtar'placeholder="Profile Picture">
        <input type="email"name="email"value="<%=user_profile.email%>"required>
        <input type="submit" value="Update">
    </form>
    <p>
        <%=user_profile.name%>
    </p>
    <p>
        <%=user_profile.email%>
    </p>
    
<%}else{%>
    
   
    <p>
        <%=user_profile.name%>
    </p>
    <p>
        <%=user_profile.email%>
    </p>
    
    
    <%}%>
    
</div>



